body {
    padding-top: 56px; 
    background-color: beige;
}
.about-section {
    padding: 60px 0; 
    text-align: center; 
}
.about-section {
    color: #333;; 
    font-size: 36px; 
    padding: 40px; 
}
.about-content {
    color: #333; 
    font-size: 18px; 
    line-height: 1.6; 
}
.about-image {
    margin-bottom: 10px;
}
.footer-section{
    margin-top: 200px;
}